.app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 4vh;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1;
  background: var(--primary);
  color: var(--secondary);
}
