.app__settings {
  &_item {
    composes: app__wrapper from '../../style/flex-wrapper.css';
  }

  &_input {
    composes: app__button from '../../style/button.css';
    display: inline-block;
    margin: 0 2vw 0 0;
    padding-left: 2vw;
    width: 7vw;
    height: 8vh;
    transition: box-shadow 0.5s, text-shadow 0.5s;

    &::-webkit-inner-spin-button {
      margin-right: 1vw;
      width: 1vw;
    }

    @media (orientation: portrait) {
      margin: 1vw;
      width: auto;
    }
  }

  &_label {
    display: inline-block;
    width: 16vw;
  }
}
