.app__settings {
  &_item {
    composes: app__wrapper from '../../style/flex-wrapper.css';
    width: 100%;
  }

  &_input {
    composes: app__button from '../../style/button.css';
    display: inline-block;
    height: 8vh;
    margin: 1vh 1vw;
    flex-basis: 10vh;

    @media (orientation: portrait) {
      margin: 1vw;
      width: auto;
    }

    &:hover {
      box-shadow: none;
    }
  }

  &_label {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    flex-grow: 2;
  }
}
